/* Superposición oscura */
.order-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 200px;
  }
  
  /* Caja de detalles */
.order-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    margin-top: 0;
    position: relative;
  }
  
  /* Encabezado */
  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  /* Icono de cerrar */
  .close-icon {
    font-size: 32px; /* Tamaño del icono */
    color: #e74c3c; /* Color del icono */
    cursor: pointer;
    position: fixed; /* Mantiene el icono fijo en la pantalla */
    right: 300px; /* Espaciado desde la parte derecha */
    z-index: 1000; /* Asegura que el icono esté por encima del contenido del modal */
  }
  
  .close-icon:hover {
    transform: scale(1.1);
    color: #c0392b; /* Cambia el color al pasar el cursor */
  }
  
  /* Tabla de detalles */
  .details-table {
    margin-top: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #3498db;
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #555;
  }
  
  tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  /* Botón de descargar */
  .download-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
  }
  
  .download-btn:hover {
    background-color: #2980b9;
  }